<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head('Register Page')"></head>
<body>
<div class="row" style="margin-top: 120px;margin-right: 200px; margin-left: 200px">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/auth/register}" th:object="${userCreateDto}">

            <div class="form-group">
                <label for="forFullName" th:text="#{FullName}"><i class="fa fa-user"></i></label>
                <input type="text" name="fullName" class="form-control" th:field="*{fullName}" id="forFullName">
                <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="error"></div>
            </div>

             <div class="form-group">
                <label for="forUsername" th:text="#{Username}"></label>
                <input type="text" name="username" class="form-control" th:field="*{username}" id="forUsername">
                <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error"></div>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1" th:text="#{Password}"></label>
                <input type="password" name="password" class="form-control" th:field="*{password}" id="exampleInputPassword1">
                <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
            </div>

            <div class="form-group">
                <label for="confirmPassword" th:text="#{ConfirmPassword}"></label>
                <input type="password" name="confirmPassword" class="form-control" th:field="*{confirmPassword}" id="confirmPassword">
                <div style="color: red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error"></div>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="remember-me" name="rememberMe">
                <label class="form-check-label" for="remember-me" th:text="#{Remember.Me}"></label>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{Register}"></button>
        </form>
    </div>
</div>
</body>
</html>