<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head('Category Page')"></head>
<body>
<!--<div class="row" style="margin-top: 120px;margin-right: 200px; margin-left: 200px">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{/views/category}" enctype="multipart/form-data" th:object="${categoryCreateDto}">

            <div class="form-group">
                <label for="forName" th:text="#{CategoryName}"></label>
                <input type="text" name="name" class="form-control" th:field="*{name}" id="forName">
                <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
            </div>

            <div class="form-group">
                <label for="forImage" th:text="#{Image}"></label>
                <input type="file" name="image" class="form-control" id="forImage">
            </div>

            <button type="submit" class="btn btn-primary" th:text="#{Save}"></button>
        </form>
    </div>
</div>-->
</body>
</html>