<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head('Product Update Page')"></head>
<body>
<div class="row" style="margin-top: 120px;margin-right: 200px; margin-left: 200px">
    <div class="offset-2 col-md-8">
        <form method="post" th:action="@{/views/productUpdate}">

            <div class="form-group">
                <input type="hidden" name="id" class="form-control" th:value="${product.id}"/>
            </div>
            <div class="form-group">
                <label>
                    <label for="forName" th:text="#{ProductName}"></label>
                    <input type="text" name="name" id="forName" class="form-control" th:value="${product.name}"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <label for="Description" th:text="#{Description}"></label>
                    <input type="text" name="description" id="Description" th:field="*{product.description}"
                           class="form-control" th:value="${product.description}"/>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <label for="forName" th:text="#{Price}"></label>
                    <input type="number" name="price" class="form-control" th:value="${product.price}"/>
                </label>
            </div>

            <div class="form-group">
                <input type="hidden" name="imageId" class="form-control" th:value="${product.image.id}"/>
            </div>

            <div class="form-group">
                <input type="hidden" name="active" class="form-control" th:value="${product.active}"/>
            </div>

            <div class="btn-toolbar">
                <a th:href="@{/}" class="btn btn-outline-success" th:text="#{Back}"></a>
                <br>
                <button type="submit" class="btn btn-outline-warning" th:text="#{Yes}"></button>
            </div>

        </form>
    </div>
</div>
<div th:include="fragments.html :: js_files"></div>
</body>
</html>