<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/static/js/popper.min.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
</head>
<body>
<section th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/auth/login" class="btn btn-outline-success" th:text="#{Login}"></a>
                    <a href="/auth/register" class="btn btn-outline-primary" th:text="#{Register}"></a>
                    <a href="/auth/logout" class="btn btn-outline-danger" th:text="#{Logout}"></a>
                </li>
            </ul>
        </div>
    </nav>
</section>
</body>
</html>